<div class="card h-100">
  <div class="card-header">
    <h5 class="card-title">Change Password</h5>
  </div>
  <div class="card-body">
    <div class="row mb-3 justify-content-center">
      <div class="col-lg-6">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-4">
            <label for="cupassword" class="form-label">Current Password</label>
            <input type="password" id="cupassword" formControlName="current_password" [class.is-valid]="updatePasswordForm.get('current_password')?.valid && 
            (updatePasswordForm.get('current_password')?.dirty || updatePasswordForm.get('current_password')?.touched)"
              [class.is-invalid]="updatePasswordForm.get('current_password')?.invalid && 
            (updatePasswordForm.get('current_password')?.dirty || updatePasswordForm.get('current_password')?.touched)"
              class="form-control form-control-lg">
            @if (updatePasswordForm.get('current_password')?.hasError('required')) {
            <div class="invalid-feedback">
              This field is required.
            </div>
            }@else if(updatePasswordForm.get('current_password')?.hasError('minlength')) {
            <div class="invalid-feedback">
              Password must be at least 6 characters
            </div>
            }
          </div>
          <div class="form-group mb-4">
            <label for="password" class="form-label">New Password</label>
            <input type="password" id="password" formControlName="password" [class.is-valid]="updatePasswordForm.get('password')?.valid && 
            (updatePasswordForm.get('password')?.dirty || updatePasswordForm.get('password')?.touched)"
              [class.is-invalid]="updatePasswordForm.get('password')?.invalid && 
            (updatePasswordForm.get('password')?.dirty || updatePasswordForm.get('password')?.touched)"
              class="form-control form-control-lg">
            @if (updatePasswordForm.get('password')?.hasError('required')) {
            <div class="invalid-feedback">
              This field is required.
            </div>
            }@else if(updatePasswordForm.get('password')?.hasError('minlength')) {
            <div class="invalid-feedback">
              Password must be at least 6 characters
            </div>
            }
          </div>
          <div class="form-group mb-4">
            <label for="cpassword" class="form-label">Confirm password</label>
            <input type="password" id="cpassword" [class.is-valid]="(updatePasswordForm.get('confirm_password')?.valid && !updatePasswordForm.errors?.['mismatch']) && 
            (updatePasswordForm.get('confirm_password')?.dirty || updatePasswordForm.get('confirm_password')?.touched)"
              [class.is-invalid]="(updatePasswordForm.get('confirm_password')?.invalid || updatePasswordForm.errors?.['mismatch']) && 
            (updatePasswordForm.get('confirm_password')?.dirty || updatePasswordForm.get('confirm_password')?.touched)"
              formControlName="confirm_password" class="form-control form-control-lg">
            @if (updatePasswordForm.get('confirm_password')?.hasError('required')) {
            <div class="invalid-feedback">
              This field is required.
            </div>
            }@else if(updatePasswordForm.errors?.['mismatch']) {
            <div class="invalid-feedback">
              Password doesn't match
            </div>
            }
          </div>
          <div class="text-end">
            <button [disabled]="!updatePasswordForm.valid || isLoading" type="submit"
              class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>