<div class="card h-100">
  <div class="card-header mb-3">
    <h5 class="card-title">Profile</h5>
  </div>
  <div class="card-body">
    @if(isLoading){
    <div class="d-flex h-100 align-items-center justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
    @if(voter){
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        @if(!voter.profile_completed){
        <div class="alert alert-warning text-center" role="alert">
          Please complete your profile <a class="btn btn-sm btn-outline-warning ms-2">Update</a>
        </div>
        }
        @if (!voter.email_verified_at) {
        <div class="alert alert-warning text-center" role="alert">
          Please verify your email address
        </div>
        }
        <div class="profile">
          <div class="avatar mx-auto mb-3">
            <img src="https://picsum.photos/id/33/200/200" alt="">
          </div>
          <h5>{{ voter.fname && voter.lname ? voter.fname + ' ' + voter.lname : 'Name not available' }}</h5>
          <p class="text-muted">VID5463443</p>
          <ul class="list-group mb-3">
            <li class="list-group-item">{{ voter.email }}</li>
            <li class="list-group-item">{{ voter.phone ? voter.phone : 'No phone number' }}</li>
            <li class="list-group-item">{{ voter.created_at }}</li>
            <li class="list-group-item">Email Verified {{ voter.email_verified_at ? '✅' : '❌' }}</li>
            <li class="list-group-item">Profile Completed {{ voter.profile_completed ? '✅' : '❌' }}</li>
          </ul>
        </div>
      </div>
    </div>
    }
  </div>
</div>